// Секція "Головного героя"
.main__hero_section .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container {
  // Заголовок
  .hero__title {
    width: 696px;
    margin-right: auto;
    margin-left: auto;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.25;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  // Кнопка "Замовити послугу"
  .hero__btn {
    align-items: center;
    margin-top: 30px;
    width: 215px;
    height: 50px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: var(--text-font);
    font-weight: var(--bold-font-weight);
    font-size: 16px;
    line-height: 1.9;
    cursor: pointer;
    letter-spacing: 0.06em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero__btn:hover,
  .hero__btn:focus {
    background-color: var(--secondary-accent-color);
  }
}
