:root {
    --accent-color: #2196f3;
    --secondary-accent-color: #188ce8;
    --primary-white-color: #fff;
    --dark-background: #2f303a;
    --text-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --logo-font-size: 26px;
    --project-title-size: 18px;
    --project-discription-size: 16px;
    --primary-font-size: 14px;
    --hero-font-weight: 900;
    --bold-font-weight: 700;
    --medium-font-weight: 500;
    --title-text-color: #212121;
    --secondary-text-color: #757575;
    --regular-font-weight: 400;
}